n8n/workflow.json
{
  "name": "Asset Lifecycle Tracker — Daily Analysis",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "node_schedule",
      "name": "Schedule Trigger (9am Mon-Fri)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "notes": "Ejecuta el análisis automáticamente cada día hábil a las 9am.\nPor qué: detectar desvíos temprano reduce el tiempo de resolución.\nSe puede ajustar a diario si el volumen de movimientos lo requiere."
    },
    {
      "parameters": {
        "command": "cd /Users/ext_demayorg/Desktop/asset-lifecycle-tracker && python3 scripts/diagnosis.py 2>&1"
      },
      "id": "node_diagnosis",
      "name": "Run Diagnosis Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 300],
      "notes": "Ejecuta el script Python de diagnóstico.\nGenera reports/diagnosis_report.json con todos los issues detectados."
    },
    {
      "parameters": {
        "command": "cd /Users/ext_demayorg/Desktop/asset-lifecycle-tracker && python3 scripts/ai_analysis.py 2>&1"
      },
      "id": "node_ai",
      "name": "Run AI Analysis (Claude)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 300],
      "notes": "Llama a Claude API para clasificar y priorizar los issues.\nRequiere ANTHROPIC_API_KEY en el entorno del proceso n8n.\nGenera reports/ai_analysis_report.json con el análisis enriquecido."
    },
    {
      "parameters": {
        "filePath": "/Users/ext_demayorg/Desktop/asset-lifecycle-tracker/reports/ai_analysis_report.json"
      },
      "id": "node_read_report",
      "name": "Read Analysis Report",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [900, 300],
      "notes": "Lee el JSON final para procesarlo en los nodos siguientes."
    },
    {
      "parameters": {
        "functionCode": "// Parsea el reporte y extrae métricas clave para el router\nvar raw = '';\nif (items[0].binary && items[0].binary.data) {\n  raw = Buffer.from(items[0].binary.data, 'base64').toString();\n} else if (items[0].json && items[0].json.fileContent) {\n  raw = items[0].json.fileContent;\n}\n\nvar report;\ntry {\n  report = JSON.parse(raw);\n} catch(e) {\n  report = { summary: { severity_breakdown: { CRITICAL: 0, HIGH: 0 }, total_issues: 0 } };\n}\n\nvar summary = report.summary || {};\nvar severity = summary.severity_breakdown || {};\nvar ai = report.ai_analysis || {};\n\nreturn [{\n  json: {\n    has_critical: (severity.CRITICAL || 0) > 0,\n    critical_count: severity.CRITICAL || 0,\n    high_count: severity.HIGH || 0,\n    total_issues: summary.total_issues || 0,\n    at_risk_usd: summary.at_risk_value_usd || 0,\n    in_transit_30d: summary.in_transit_over_30d || 0,\n    executive_summary: ai.executive_summary || 'No AI analysis available',\n    priority_actions: (ai.priority_actions || []).slice(0, 3),\n    reference_date: report.reference_date,\n    generated_at: report.generated_at\n  }\n}];"
      },
      "id": "node_parse",
      "name": "Parse & Extract Metrics",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 300],
      "notes": "Extrae las métricas clave del reporte JSON.\nDecide si hay issues críticos para el routing condicional."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_critical }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node_router",
      "name": "Has Critical Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 300],
      "notes": "Enruta según si existen issues CRITICAL.\nTrue → alerta inmediata al equipo.\nFalse → solo log / reporte de rutina."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🚨 *ALERTA ACTIVOS — {{ $json.reference_date }}*\n\n*Issues CRÍTICOS:* {{ $json.critical_count }}\n*Issues ALTOS:* {{ $json.high_count }}\n*Valor en riesgo:* USD {{ $json.at_risk_usd }}\n*En tránsito >30 días:* {{ $json.in_transit_30d }} activos\n\n*Resumen IA:*\n{{ $json.executive_summary }}\n\n*Acciones prioritarias:*\n{{ $json.priority_actions.map((a, i) => `${i+1}. ${a.action}`).join('\\n') }}"
            }
          ]
        }
      },
      "id": "node_alert",
      "name": "Send Critical Alert (Slack/Webhook)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1560, 180],
      "notes": "Envía alerta al canal de Slack (o cualquier webhook).\nConfigurar SLACK_WEBHOOK_URL en las variables de n8n."
    },
    {
      "parameters": {
        "functionCode": "// Solo logea el resultado cuando no hay críticos\nvar d = items[0].json;\nconsole.log('[' + d.generated_at + '] Routine check: ' + d.total_issues + ' issues, no CRITICAL');\nreturn [{ json: { status: 'ok', message: d.total_issues + ' issues found, none critical', generated_at: d.generated_at, total_issues: d.total_issues } }];"
      },
      "id": "node_log",
      "name": "Log Routine Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1560, 420],
      "notes": "No hay issues críticos — solo loguea el resultado.\nEl reporte sigue disponible en reports/ para revisión manual."
    }
  ],
  "connections": {
    "Schedule Trigger (9am Mon-Fri)": {
      "main": [[{ "node": "Run Diagnosis Script", "type": "main", "index": 0 }]]
    },
    "Run Diagnosis Script": {
      "main": [[{ "node": "Run AI Analysis (Claude)", "type": "main", "index": 0 }]]
    },
    "Run AI Analysis (Claude)": {
      "main": [[{ "node": "Read Analysis Report", "type": "main", "index": 0 }]]
    },
    "Read Analysis Report": {
      "main": [[{ "node": "Parse & Extract Metrics", "type": "main", "index": 0 }]]
    },
    "Parse & Extract Metrics": {
      "main": [[{ "node": "Has Critical Issues?", "type": "main", "index": 0 }]]
    },
    "Has Critical Issues?": {
      "main": [
        [{ "node": "Send Critical Alert (Slack/Webhook)", "type": "main", "index": 0 }],
        [{ "node": "Log Routine Result", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Workflow de automatización para el Asset Lifecycle Tracker. Ejecuta el diagnóstico de activos diariamente, llama a Claude AI para análisis, y envía alertas si hay issues críticos. Requiere: Python 3.9+, ANTHROPIC_API_KEY, SLACK_WEBHOOK_URL (opcional)."
  }
}
