n8n/workflow.json
{
  "name": "Asset Lifecycle Tracker — Daily Analysis",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "node_schedule",
      "name": "Schedule Trigger (9am Mon-Fri)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "notes": "Ejecuta el monitoreo automáticamente cada día hábil a las 9am.\nLos scripts Python (diagnosis.py + ai_analysis.py) corren via cron del sistema operativo y generan el reporte antes de esta hora."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://raw.githubusercontent.com/deyber1974/asset-lifecycle-tracker/main/reports/ai_analysis_report.json",
        "options": {}
      },
      "id": "node_read_report",
      "name": "Read Analysis Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "notes": "Lee el reporte JSON desde GitHub (repo público).\nCada vez que se corre diagnosis.py + ai_analysis.py y se hace git push, este nodo lee la versión más reciente automáticamente."
    },
    {
      "parameters": {
        "functionCode": "// El HTTP Request ya devuelve el JSON parseado en items[0].json\nvar report = items[0].json;\n\nvar summary = report.summary || {};\nvar severity = summary.severity_breakdown || {};\nvar ai = report.ai_analysis || {};\n\nreturn [{\n  json: {\n    has_critical: (severity.CRITICAL || 0) > 0,\n    critical_count: severity.CRITICAL || 0,\n    high_count: severity.HIGH || 0,\n    total_issues: summary.total_issues || 0,\n    at_risk_usd: summary.at_risk_value_usd || 0,\n    in_transit_30d: summary.in_transit_over_30d || 0,\n    executive_summary: ai.executive_summary || 'Sin análisis IA disponible',\n    priority_actions: (ai.priority_actions || []).slice(0, 3),\n    reference_date: report.reference_date,\n    generated_at: report.generated_at\n  }\n}];"
      },
      "id": "node_parse",
      "name": "Parse & Extract Metrics",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 300],
      "notes": "Extrae las métricas clave del reporte JSON.\nDecide si hay issues críticos para el routing condicional."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_critical }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node_router",
      "name": "Has Critical Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300],
      "notes": "Enruta según si existen issues CRITICAL.\nTrue → alerta inmediata al equipo.\nFalse → solo log / reporte de rutina."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🚨 *ALERTA ACTIVOS — {{ $json.reference_date }}*\n\n*Issues CRÍTICOS:* {{ $json.critical_count }}\n*Issues ALTOS:* {{ $json.high_count }}\n*Valor en riesgo:* USD {{ $json.at_risk_usd }}\n*En tránsito >30 días:* {{ $json.in_transit_30d }} activos\n\n*Resumen IA:*\n{{ $json.executive_summary }}\n\n*Acciones prioritarias:*\n{{ $json.priority_actions.map((a, i) => `${i+1}. ${a.action}`).join('\\n') }}"
            }
          ]
        }
      },
      "id": "node_alert",
      "name": "Send Critical Alert (Slack/Webhook)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 180],
      "notes": "Envía alerta al canal de Slack.\nConfigurar SLACK_WEBHOOK_URL en las variables de n8n."
    },
    {
      "parameters": {
        "functionCode": "var d = items[0].json;\nconsole.log('[' + d.generated_at + '] Routine check: ' + d.total_issues + ' issues, no CRITICAL');\nreturn [{ json: { status: 'ok', message: d.total_issues + ' issues encontrados, ninguno crítico', generated_at: d.generated_at, total_issues: d.total_issues } }];"
      },
      "id": "node_log",
      "name": "Log Routine Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 420],
      "notes": "No hay issues críticos — solo loguea el resultado.\nEl reporte sigue disponible en reports/ para revisión manual."
    }
  ],
  "connections": {
    "Schedule Trigger (9am Mon-Fri)": {
      "main": [[{ "node": "Read Analysis Report", "type": "main", "index": 0 }]]
    },
    "Read Analysis Report": {
      "main": [[{ "node": "Parse & Extract Metrics", "type": "main", "index": 0 }]]
    },
    "Parse & Extract Metrics": {
      "main": [[{ "node": "Has Critical Issues?", "type": "main", "index": 0 }]]
    },
    "Has Critical Issues?": {
      "main": [
        [{ "node": "Send Critical Alert (Slack/Webhook)", "type": "main", "index": 0 }],
        [{ "node": "Log Routine Result", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Workflow de monitoreo para el Asset Lifecycle Tracker. Lee el reporte generado por los scripts Python (vía cron del sistema), evalúa si hay issues críticos y envía alertas Slack si los hay. Los scripts diagnosis.py y ai_analysis.py corren independientemente antes de las 9am."
  }
}
